.slider {
  position: relative;
}

.slider__list {
  display: flex;
  align-items: center;
  overflow: auto;
  scroll-snap-type: x mandatory;
  padding: 0;
  margin: 0;
  list-style: none;
}

.slider__list::-webkit-scrollbar {
  display: none;
}

.slider__slide {
  scroll-snap-align: start;
  min-width: calc(100% / var(--per-view, 1));
  transition: background-color 0.3s;
}

.slider__slide_active {
  background-color: red;
}

.slider__button {
  position: absolute;
  top: 50%;
  padding: 0;
  border: none;
  background: transparent;
  cursor: pointer;
  transform: translateY(-50%);
}

.slider__prev {
  left: 0;
}

.slider__next {
  right: 0;
}

.slider__pagination-button--active {
  background-color: red;
}